# Week 4 In-Class Assignment

1) Import the Belize_Airbnb_listings csv. Create a new dataframe that takes the original dataset and groups the data by neighborhood and finds the average price, total number of reviews, and max availability_365. In short, you're looking for the average price, total number of reviews, and max availability per neighborhood.

In [1]:
#importing libraries, setting dependencies

import math
import pandas as pd
import numpy as np

#creating dataframe

belize_path = "belize_airbnb_listings.csv"
belize_df = pd.read_csv(belize_path)

In [2]:
#checking the dataframe

belize_df.head(2)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,36666,Mo's Cozy Casa w/ veranda & access to dock,157752,Monique,Belize,Belize Islands,17.74786,-88.02398,Entire home/apt,141,3,250,2/23/2021,2.00,5,225
1,36690,Mo's Cozy Cabana w/ comfy veranda & access to ...,157752,Monique,Belize,Belize Islands,17.74832,-88.02474,Entire home/apt,71,3,316,2/19/2021,2.46,5,164

In [3]:
#grouping by neighborhood

mean_price = belize_df.groupby('neighbourhood')['price'].mean()
mean_price

neighbourhood
Belize Islands           399.442824
Belize Mainland          288.273063
Cayo                     205.847525
Corozal                  156.553846
Orange Walk              122.035714
Stann Creek Islands     1136.166667
Stann Creek Mainland     456.994690
Toledo Mainland          222.978723
Name: price, dtype: float64

In [4]:
total_reviews = belize_df.groupby('neighbourhood')['number_of_reviews'].sum()
total_reviews

neighbourhood
Belize Islands          22995
Belize Mainland          4105
Cayo                     7356
Corozal                   492
Orange Walk               415
Stann Creek Islands        69
Stann Creek Mainland     4786
Toledo Mainland           194
Name: number_of_reviews, dtype: int64

In [5]:
max_availability = belize_df.groupby('neighbourhood')['availability_365'].max()
max_availability

neighbourhood
Belize Islands          365
Belize Mainland         365
Cayo                    365
Corozal                 365
Orange Walk             365
Stann Creek Islands     365
Stann Creek Mainland    365
Toledo Mainland         365
Name: availability_365, dtype: int64

^^ No surprises here? Perhaps I misunderstood the question.

2) Take the following list and create a new list from the square of each value.
og_list=[2,4,6,8,10,12,14]

In [6]:
og_list=[2,4,6,8,10,12,14]

squares = [i**2 for i in og_list]

print(squares)

[4, 16, 36, 64, 100, 144, 196]

3) Take the same list from the previous question and create a new list but where each value is 2/3 of the original values.

In [7]:
#from fractions import Fraction
#I tried to get fancy here ^^ but it got messy instead. 

twothirds = [(i*2/3) for i in og_list]

print(twothirds)

[1.3333333333333333, 2.6666666666666665, 4.0, 5.333333333333333, 6.666666666666667, 8.0, 9.333333333333334]

4) Write a list comprehension or function to lowercase all the keys in the below dictionary. The data represents how many pounds of each fruit a canning company is ordering. 

Why did you choose the mechanism you did to lowercase the keys? 

dict = {"Apples": 1500, "Cranberries": 2000, "Pears": 2500, "Cherries": 1600, "Plums": 2400, "Peaches": 13600, "Oranges": 7}

In [8]:
fruit_dict = {"Apples": 1500, "Cranberries": 2000, "Pears": 2500, "Cherries": 1600, "Plums": 2400, "Peaches": 13600, "Oranges": 7}

In [9]:
{k.lower(): v for k, v in fruit_dict.items()}

{'apples': 1500,
 'cranberries': 2000,
 'pears': 2500,
 'cherries': 1600,
 'plums': 2400,
 'peaches': 13600,
 'oranges': 7}

Why did I choose this? Because I found it in my Google search : "Dictionary to lowercase in Python list comprehension". I already knew that the .lower() method would change the case; it was the matter of finding the right syntax for creating a new dictionry. from an exisiting one.