# Week 10 In-Class Group Work

1. Write a function that calculates the dot product manually AND a fucntion that calculates the cross product manually. Both should accept two vectors and perform that calculation. Be sure to use try except and error handling for basic issues that might occur.

In [1]:
import math
import pandas as pd
import numpy as np

belize_path = "/Users/thevalkyrie/CoderGirl/Data-Science-Assignments/course_material/week_04/belize_airbnb_listings.csv"
belize_df = pd.read_csv(belize_path)

In [2]:
# Function that calculates the dot product manually

u = [3,5]
v = [4,2]
w = []

def dot_prod(v1, v2):
    for n1, n2 in zip(u,v): 
        w.append(n1*n2)
        
    for i in range(len(w)):
        for j in range(i+1, len(w)):
            scalar = w[i] + w[j]
    return scalar

In [3]:
dot_prod(a,b)

NameError: name 'a' is not defined

In [4]:
# Two 3D vectors:

v1 = [1,1,1]
w1 = [2,2,2]

# Function that calculates cross product manually

def cross_prod(v,w):
    u = [v[1]*w[2] - v[2]*w[1],
         v[2]*w[0] - v[0]*w[2],
         v[0]*w[1] - v[1]*w[0]]
    
    return u

In [5]:
cross_prod(v1,w1)

[0, 0, 0]

I checked my results using this free online vector multiplication calculator: https://www.symbolab.com/solver/vector-cross-product-calculator/

2. In a markdown section in your notebook, explain what one hot encoding is and why we use it. Then, manually calculate a one hot encoding for the Belize_Airbnb_listings.csv neighborhood_group column. Note: manually means donâ€™t use scikitlearn or keras.

Computational models, including machine learning models, require numerial input variables. However, variables for attributes such as name, color, gender, degree of satisfaction, etc., are not inherently numerical. These so-called "categorical" variables have to be transformed into numbers useful for computation. Of the two types of categorical data, ordinal and nominal, ordinal can be ranked, and thus easily converted to numerical data using ordinal encoding. Nominal categorial data, however, has no inherent ordering, so it must be artificially transformed. Enter "one-hot coding". Essentially, we create a column for each particular state or value of a nominal variable and insert it in the dataframe. Then, for each entry or row, we record whether that particular state or value is true (1) or false (0). No row can have more than one state for a given variable. 

Below, I illustrate an example of one-hot encoding using data from the Belize Airbnb dataframe, using the variable "neighbourhood groups".

In [6]:
# Checking the dataframe:
belize_df.head(2)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,36666,Mo's Cozy Casa w/ veranda & access to dock,157752,Monique,Belize,Belize Islands,17.74786,-88.02398,Entire home/apt,141,3,250,2/23/2021,2.00,5,225
1,36690,Mo's Cozy Cabana w/ comfy veranda & access to ...,157752,Monique,Belize,Belize Islands,17.74832,-88.02474,Entire home/apt,71,3,316,2/19/2021,2.46,5,164

In [14]:
#Want unique neighborhood groups in datafram
ngroup = belize_df['neighbourhood_group'].unique()

In [15]:
#map neighborhood group to integer
group_to_int = dict((n,i) for i, n in enumerate(ngroup))
int_to_group = dict((i, n) for i, n in enumerate(ngroup))

In [16]:
#Integer encode neighborhood group data
group_enc = [group_to_int[n] for n in belize_df['neighbourhood_group']]

In [17]:
#Now the "one hot" encoding, starting with an empty list
onehot = list()
#loops thru list of encoded 'hoods
for var in group_enc:
    #creates list of 0 values for each unique neighborhood group
    name = [0 for _ in range(len(nbhood))]
    #Assigns 1 to neighborhood group of variable based on encoding
    name[var] = 1
    #Adds the list to onehot list
    onehot.append(name)

In [20]:
#Creates a df of encoded values, renames columns as neighborhood groups
onehot_enc = pd.DataFrame(onehot).rename(columns = int_to_group)
#Combines belize_df and encoded variables into one dataframe
belize_encoded = pd.concat([belize_df, onehot_enc], axis = 1)
belize_encoded.head(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Belize,Stann Creek,Toledo,Cayo,Corozal,Orange Walk
0,36666,Mo's Cozy Casa w/ veranda & access to dock,157752,Monique,Belize,Belize Islands,17.74786,-88.02398,Entire home/apt,141,...,2/23/2021,2.00,5,225,1,0,0,0,0,0
1,36690,Mo's Cozy Cabana w/ comfy veranda & access to ...,157752,Monique,Belize,Belize Islands,17.74832,-88.02474,Entire home/apt,71,...,2/19/2021,2.46,5,164,1,0,0,0,0,0
2,108932,Purple House eco solar w/ ocean & wildlife views,563377,Michael,Belize,Belize Islands,17.73221,-88.03824,Entire home/apt,191,...,3/14/2020,0.78,1,364,1,0,0,0,0,0
3,110483,Michelo's fuchsia suite,567809,Michel,Stann Creek,Stann Creek Mainland,16.52114,-88.36926,Hotel room,121,...,2/24/2020,0.29,3,331,0,1,0,0,0,0
4,120115,Seaside Villas Second Floor Unit #4,604999,Bobbi,Belize,Belize Islands,17.74166,-88.02395,Entire home/apt,343,...,3/18/2020,0.64,22,203,1,0,0,0,0,0